header {
  text-align: center;

}

body {
  background-color: silver;

}

fieldset {
  padding-bottom: 15px;
  margin-left: 15px;
}


.navbar {
  text-align: center;
  text-justify: auto;
  padding: 30px;
  background-color: #000000;
}

.navbar a {
  color: azure;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 50px;
  
}

  .navbar a:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .navbar a:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

#mainTitle {
margin: auto;
width: 50%;
padding-bottom: 35px;
} /* h1 */


#techFolio {
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "Audiowide", sans-serif;

}

#aboutMe {
text-align: left;


} /* main section 1 box*/


#aboutmeTitle {
font-family: "Audiowide", sans-serif;
padding-left: 15px;
font-weight: 600;
font-size: 22px;


}/* h3*/


#bioLegend {
  font-family: "Audiowide", sans-serif;

} /*about me info*/

#aboutMe {
text-align: left;
font-family: "Audiowide", sans-serif;
}

#position {
text-align: left;
font-family: "Audiowide", sans-serif;

}
#name {
text-align: left;
font-family: "Audiowide", sans-serif;
}


#biography {
text-align: left;
font-family: "Audiowide", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
} /* main section 2 */

#bioLegend {
  text-align: left;
  color: darkslategrey;
  padding-bottom: 15px;
}

#formBio {
  text-align: left;
  font-family: "Audiowide", sans-serif;
 }  /*form 1*/ 

#bioBtn {


  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#bioBtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#bioBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}




#projectCard {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Audiowide", sans-serif;

}

#projectForm {
text-align: justify;
  width: 65%;
  padding: 10px;
  font-family: "Audiowide", sans-serif;
}

#cardList {
  text-align: center;
  margin: auto;
  width: 60%;
  border: 10px solid #41403e;
  padding-bottom: 25px;
 

}

#legend {
  text-align: center;
  padding-bottom: 30px;
  padding: 10px;

}

#title {
  text-align: left;

}




#info {
  text-align: center;
}

#link {
  text-align: center;
}

#projectBtn {
  padding-top: 20px;
  padding-bottom: 20px;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  #projectBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #projectBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }



  #viewResults {

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  

  #viewResults:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #viewResults.navbar {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;

  }

#resetBtn {
  padding-top: 25px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 35px;
  }
  
  #resetBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #resetBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;

  }
