header {
  text-align: center;
}

body {
  background-color: silver;
}

fieldset {
  padding-bottom: 15px;
  margin-left: 15px;
}


.navbar {
  text-align: center;
  text-justify: auto;
  padding: 30px;
  background-color: #000000;
}

.navbar a {
  color: azure;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 50px;
  
}

  .navbar a:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .navbar a:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

#mainTitle {
margin: auto;
width: 75%;
padding-bottom: 35px;
border: 3px solid #41403e;
text-align: center;
font-family: "Audiowide", sans-serif;
padding-top: 5px;
} /* h1 */


#techFolio {
  font-size: 5vw;
  font-weight: 700;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  font-family: "Audiowide", sans-serif;

}

#aboutMe {
text-align: left;


} /* main section 1 box*/


#aboutmeTitle {
font-family: "Audiowide", sans-serif;
padding-left: 25px;
font-weight: 600;
font-size: 22px;
padding-top: 30px;

padding-bottom: 20px;
}/* h3*/


#bioLegend {
  font-family: "Audiowide", sans-serif;
padding-left: 25px;
} /*about me info*/

#abotMe{
  position: relative;
  top: 30px;
  right: 270px;
}
#aboutMe {
position: relative;
top: 30px;
right: 250px;
text-align: left;
font-family: "Audiowide", sans-serif;
border-radius: 3px;
}

#pos {
  position: relative;
  right: 300px;
}
#position {
position: relative;
right: 300px;
text-align: left;
font-family: "Audiowide", sans-serif;
border-radius: 1px;
}


#biography {
text-align: left;
font-family: "Audiowide", sans-serif;
  padding-top: 30px;
  padding-bottom: 30px;
} /* main section 2 */

#bioLegend {
  text-align: left;
  color: darkslategrey;
  padding-bottom: 15px;
}

#formBio {
  text-align: left;
  font-family: "Audiowide", sans-serif;
 }  /*form 1*/ 



#bioBtn:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#bioBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

#bioBtn {
  position: relative;
  left: 500px;
  bottom: 5px;
  width: 20%;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  #bioBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #bioBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }
 
}


#projectCard {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Audiowide", sans-serif;
}

#projectForm {
  display: flex;
text-align: center;
margin-left: 200px;
  width: 65%;
  padding: 10px;
  font-family: "Audiowide", sans-serif;
}


#cardList {
  text-align: center;
  margin: auto;
  max-width: 60%;
  border: 10px solid #41403e;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: scroll;
}


#title {
  text-align: left;
  margin-bottom: 20px;
  position: absolute;
}

.newPcard1 {
  color: silver;
}

.info1 {
  margin-top: 10px;
  color: silver;
  margin-right: 75px;
}

.link1 {
  margin-top: 10px;
  color:silver;
  margin-left: 21px;

}

#projectBtn {
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  
  #projectBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #projectBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }



  #viewResults {

  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  }
  

  #viewResults:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #viewResults.navbar {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;

  }

#resetBtn {

  padding-top: 25px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  backface-visibility: hidden;
  background: #000000;
  border: 0;
  border-radius: .375rem;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Audiowide", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 35px;
  }
  
  #resetBtn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  #resetBtn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;

  }

/* About Section Styling */

ul {
  display: flex;
  flex-direction: row;
  height: 400px;
  padding: 40px;
  flex-wrap: wrap;
  gap: 20px;
  
}

li {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  height: 150px;
  width: 150px;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(1fr,auto);
  grid-template-areas: 
  "title title title x"
  "info info info info"
  "info info info info"
  "info info info info"
  "link link link link"
  ;
  
}

.title {
  grid-area: title;
  font-size: 1vw;
  justify-content: space-around;
}



ul li .x {
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: max-content;
  height: max-content;

}

.x:hover {
  cursor: pointer;
}

.cardinfo{
  word-wrap: break-word;
  overflow-y: scroll;
  max-height: 80px;
  grid-area: info;
}

.link {
  grid-area: link;
}
