/* Header */
header {
  display: flex;
  background-color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
}

/* Navbar Centering */
nav {
  margin-left: auto;
  margin-right: auto;
}

/* Nav Bar Links */
.navbar a {
  justify-content: space-around;
  margin-right: 30px;
  margin-left: 30px;
  color: grey;
  text-decoration: none;
}

/* Navbar Hover Color */
.navbar :hover {
  color: rgb(3, 209, 30);
}

/* Body */
body {
  background-color: rgb(224, 223, 219);
}

/* About the Team! */
#teamTitle {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 55pt;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

/* Code for images */
img {
  max-height: 250px;
  max-width: 200px;
  border: solid gray 1px;
  border-radius: 16px;
  margin-top: 10px;
  margin-left: 10px;
}

/* Container For Team Members Assets */
.teamCont {
  display: grid;
}

/* Links for github */
.teamCont a {
  text-decoration: none;
  color: gray;
}

/* Hover for Github Links */
.teamCont a:hover {
  color: rgb(3, 209, 30);
}

/* Names */
h2 {
  font-size: 20pt;
  font-weight: bold;
}

/* Code For Elias */
/* Container */
#person1 {
  border: solid gray 1px;
  border-radius: 16px;
  margin-left: 50px;
  margin-bottom: 20px;
  max-width: 800px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: rgb(239, 234, 240);
}

/* Image positioning / border */
#imgPerson1 {
  float: left;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* Name Positioning */
#person1Name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Github Link Positioning */
#person1GH {
  position: relative;
  bottom: -25px;
  left: 245px;
}

/* Paragraph Positioning */
#aboutPerson1 {
  text-align: center;
  margin-top: 20px;
  margin-left: 3px;
}


/* Code for Eric */
/* Container */
#person2 {
  margin-left: auto;
  margin-right: 50px;
  border: solid gray 1px;
  border-radius: 16px;
  margin-bottom: 20px;
  max-width: 800px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: rgb(239, 234, 240);
}

/* Image positioning / Border */
#imgPerson2 {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* Name Positioning */
#person2Name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Github Link Positioning */
#person2GH {
  position: relative;
  bottom: -20px;
  left: 260px;
}

/* Paragraph Positioning */
#aboutPerson2 {
  text-align: center;
  margin-top: 10px;
  margin-left: 20px;
}


/* Code for Joey */
/* Container */
#person3 {
  border: solid gray 1px;
  border-radius: 16px;
  margin-left: 50px;
  margin-bottom: 20px;
  max-width: 800px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: rgb(239, 234, 240);
}

/* Image positioning / Border */
#imgPerson3 {
  float: left;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* Name Positioning */
#person3Name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Github Link Positioning */
#person3GH {
  position: relative;
  bottom: -13px;
  left: 240px;
}

/* Paragraph Positioning */
#aboutPerson3 {
  text-align: center;
  margin-left: 40px;
  margin-top: 10px;
}

/* Code for Seth */
/* Container */
#person4 {
  margin-left: auto;
  margin-right: 50px;
  border: solid gray 1px;
  border-radius: 16px;
  margin-bottom: 20px;
  max-width: 800px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: rgb(239, 234, 240);
}

/* Image positioning / Border */
#imgPerson4 {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* Name Positioning */
#person4Name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Github Link Positioning */
#person4GH {
  position: relative;
  bottom: -70px;
  left: 242px;
}

/* Paragraph Positioning */
#aboutPerson4 {
  text-align: center;
  margin-top: 40px;
  margin-left: 20px;
}

/* Code For Trace */
/* Container */
#person5 {
  border: solid gray 1px;
  border-radius: 16px;
  margin-left: 50px;
  margin-bottom: 20px;
  max-width: 800px;
  box-shadow: 2px 2px 2px 2px gray;
  background-color: rgb(239, 234, 240);
}

/* Image positioning / Border */
#imgPerson5 {
  float: left;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}

/* Name Positioning */
#person5Name {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}

/* Github Link Positioning */
#person5GH {
  position: relative;
  bottom: -40px;
  left: 247px;
}

/* Paragraph Positioning */
#aboutPerson5 {
  text-align: center;
  margin-top: 30px;
  margin-left: 3px;
}

/* Team Bios */
p {
  font-size: 14pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 6px;
  margin-left: 6px;
  width: 750px;
}

/* Footer */
footer {
  margin-left: 38px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20pt;
  font-weight: 500;
  color: black;
}